@font-face {
   font-family: "Inter";
   src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.woff2")
         format("woff2-variations"),
      url("../assets/fonts/Inter-VariableFont_slnt\,wght.woff")
         format("woff-variations");
   font-weight: 0 900;
   font-display: swap;
}

@font-face {
   font-family: "Lexend Deca";
   src: url("../assets/fonts/LexendDeca-VariableFont_wght.woff2")
         format("woff2-variations"),
      url("../assets/fonts/LexendDeca-VariableFont_wght.woff")
         format("woff-variations");
   font-weight: 0 900;
   font-display: swap;
}

:root {
   /* ### Primary */
   --dark-blue-main-background: #090b1a;
   --desaturated-blue-card-background: #1b1938;
   --soft-violet-accent: #aa5cdb;

   /* ### Neutral */
   --white-main-heading-stats: hsl(0, 0%, 100%);
   --transparent-white-main-paragraph: rgba(255, 255, 255, 0.75);
   --transparent-white-stat-headings: rgba(255, 255, 255, 0.6);
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: var(--dark-blue-main-background);
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/**************************/
/* STATS CARD */
/**************************/

.stats-card {
   background-color: var(--desaturated-blue-card-background);
   border-radius: 0.625rem;
   max-width: 71rem;
   display: flex;
}

.stats-card__text {
   max-width: 50%;
   padding: 4rem 6rem 3rem 5rem;
}

.stats-card__heading {
   color: var(--white-main-heading-stats);
   font: 700 2.275rem "Inter", sans-serif;
   padding-bottom: 2rem;
}

.stats-card__heading-span {
   color: var(--soft-violet-accent);
}

.stats-card__description {
   color: var(--transparent-white-main-paragraph);
   font: 400 0.938rem/1.5rem "Inter", sans-serif;
   padding-bottom: 4.4rem;
}

.stats-card__stats {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr 1fr;
   row-gap: 0.3rem;
}

.stats-card__stats-numbers {
   color: var(--white-main-heading-stats);
   font: 700 1.5rem "Inter", sans-serif;
}

.stats-card__stats-text {
   color: var(--transparent-white-stat-headings);
   font: 400 0.8rem "Lexend Deca", sans-serif;
   text-transform: uppercase;
}

.stats-card__img-container {
   width: 50%;
   position: relative;
}

.stats-card__img-desktop {
   width: 100%;
   height: 100%;
   border-radius: 0 0.625rem 0.625rem 0;
}

.stats-card__img-mobile {
   display: none;
}

.stats-card__img-background::after {
   background-color: var(--soft-violet-accent);
   position: absolute;
   inset: 0 0 0 0;
   content: "";
   opacity: 0.8;
   border-radius: 0 0.625rem 0.625rem 0;
   mix-blend-mode: multiply;
}

/**************************/
/* FOOTER */
/**************************/

.attribution {
   color: var(--white-main-heading-stats);
   font-size: 0.688rem;
   text-align: center;
   position: relative;
   top: 2rem;
}
.attribution a {
   color: var(--soft-violet-accent);
}
