@font-face {
   font-family: "Hanken Grotesk";
   src: url(assets/fonts/HankenGrotesk-Medium.woff) format("woff"),
      url(assets/fonts/HankenGrotesk-Medium.woff2) format("woff2");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Hanken Grotesk";
   src: url(assets/fonts/HankenGrotesk-Bold.woff) format("woff"),
      url(assets/fonts/HankenGrotesk-Bold.woff2) format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Hanken Grotesk";
   src: url(assets/fonts/HankenGrotesk-ExtraBold.woff) format("woff"),
      url(assets/fonts/HankenGrotesk-ExtraBold.woff2) format("woff2");
   font-weight: 800;
   font-style: normal;
   font-display: swap;
}

:root {
   /*Primary */
   --light-red: #ff5757;
   --light-red-transparency: rgba(255, 87, 87, 0.1);
   --orangey-yellow: #ffb01f;
   --orangey-yellow-transparency: rgba(255, 177, 31, 0.1);
   --green-teal: #00bd91;
   --green-teal-transparency: rgba(0, 189, 145, 0.1);
   --cobalt-blue: #1125d4;
   --cobalt-blue-transparency: rgba(17, 36, 212, 0.1);

   /*Gradients background */
   --light-slate-blue: #7857ff;
   --light-royal-blue: #2e2be9;

   /*Gradients circle */
   --violet-blue: rgb(78, 33, 202, 1);
   --persian-blue: rgba(36, 33, 202, 0);

   /*Neutral */
   --white: #fff;
   --pale-blue: #ebf1ff;
   --light-lavender: #c8c7ff;
   --dark-gray-blue: #303b5a;
   --dark-gray-blue-transparency: rgba(48, 59, 90, 0.5);
   --mariner: #3e52a3;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: "Hanken Grotesk", sans-serif;
}

body {
   min-height: 100vh;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.component {
   background-color: #fff;
   max-width: 40.625rem;
   border-radius: 1.25rem;
   box-shadow: 13px 15px 22px 3px rgba(48, 59, 90, 0.1);

   display: grid;
   grid-template-columns: 1fr 1fr;
}

/**************************/
/* YOUR RESULT*/
/**************************/

.component-result {
   background: linear-gradient(
      var(--light-slate-blue),
      var(--light-royal-blue)
   );
   color: var(--light-lavender);
   border-radius: 1.25rem;
   text-align: center;
}

.component-result__heading {
   font-size: 1.625rem;
   font-weight: 700;
   padding: 1.875rem;
}

.component-result__score {
   display: inline-block;
   background: linear-gradient(rgb(78, 33, 202, 1), rgba(36, 33, 202, 0));
   padding: 2.5rem 3.75rem;
   border-radius: 50%;
   margin-bottom: 1.875rem;
}

.component-result__total {
   color: #fff;
   font-size: 4.5rem;
   font-weight: 800;
}

.component-result__of-100 {
   font-size: 1.125rem;
   font-weight: 500;
}

.component-result__great {
   color: #fff;
   font-size: 2rem;
   font-weight: 700;
   padding-bottom: 0.938rem;
}

.component-result__paragraph {
   font-size: 1.125rem;
   font-weight: 500;
   padding: 0 2.5rem 2.5rem 2.5rem;
}

/**************************/
/* SUMMARY */
/**************************/

.component-summary {
   padding: 1.875rem;
   display: flex;
   flex-direction: column;
   gap: 1.25rem;
}

.component-summary__heading {
   color: var(--dark-gray-blue);
   font-size: 1.625rem;
   font-weight: 700;
}

.component-summary__categories {
   font-size: 1rem;
   font-weight: 500;
   padding: 0.938rem;
   border-radius: 0.625rem;

   display: flex;
   align-items: center;
   justify-content: space-between;
}

.component-summary__score {
   color: var(--dark-gray-blue);
   font-weight: 800;
}

.component-summary__of-100 {
   color: rgba(48, 59, 90, 0.5);
   font-weight: 800;
}

.component-summary__features {
   display: flex;
   gap: 0.625rem;
}

.component-summary__reaction {
   color: var(--light-red);
   background-color: var(--light-red-transparency);
}

.component-summary__memory {
   color: var(--orangey-yellow);
   background-color: var(--orangey-yellow-transparency);
}

.component-summary__verbal {
   color: var(--green-teal);
   background-color: var(--green-teal-transparency);
}

.component-summary__visual {
   color: var(--cobalt-blue);
   background-color: var(--cobalt-blue-transparency);
   margin-bottom: 1.25rem;
}

.btn:link,
.btn:visited {
   background-color: var(--dark-gray-blue);
   color: var(--pale-blue);
   font-size: 1.125rem;
   text-align: center;
   border-radius: 1.875rem;
   padding: 0.938rem 0;
   text-decoration: none;
}

.btn:hover,
.btn:active {
   background: linear-gradient(
      var(--light-slate-blue),
      var(--light-royal-blue)
   );
}

/**************************/
/* FOOTER */
/**************************/

.attribution {
   font-size: 0.688rem;
   text-align: center;
   position: relative;
   top: 2rem;
}
.attribution a {
   color: var(--mariner);
}

/**************************/
/* BELOW 645px */
/**************************/

@media (max-width: 40.3em) {
   .component {
      display: flex;
      flex-direction: column;
   }

   .component-result {
      border-radius: 0rem 0rem 2.5rem 2.5rem;
   }
}
