@font-face {
  font-family: "Red Hat Display";
  src: url("../assets/fonts/RedHatDisplay-Medium.woff") format("woff"),
    url("../assets/fonts/RedHatDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../assets/fonts/RedHatDisplay-Bold.woff") format("woff"),
    url("../assets/fonts/RedHatDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../assets/fonts/RedHatDisplay-Black.woff") format("woff"),
    url("../sassets/fonts/RedHatDisplay-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  /* ### Primary */
  --pale-blue: #e0e8ff;
  --bright-blue: #3829e0;
  --bright-blue-shadow: rgba(56, 41, 224, 0.2);
  --bright-blue-hover: rgba(56, 41, 224, 0.6);

  /* ### Neutral */
  --white: #fff;
  --very-pale-blue: #f5f7ff;
  --desaturated-blue: #7280a7;
  --dark-blue: #1f2f56;
  --mariner: #3e52a3;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
  font-family: "Red Hat Display", sans-serif;
}

body {
  min-height: 100vh;
  background-image: url("../assets/images/pattern-background-desktop.svg");
  background-color: var(--pale-blue);
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/**************************/
/* ORDER SUMMARY CARD*/
/**************************/

.card {
  max-width: 28.125rem;
  background-color: var(--white);
  color: var(--desaturated-blue);
  border-radius: 1.25rem;
  text-align: center;
  margin-bottom: 1.25rem;
  box-shadow: 0px 14px 15px 0px var(--bright-blue-shadow);
}

.card__hero {
  max-width: 100%;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
  margin-bottom: 2.5rem;
}

.card__heading {
  color: var(--dark-blue);
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: 1.25rem;
}

.card__paragraph {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 2.813rem 1.25rem 2.813rem;
}

.card__plan {
  background-color: var(--very-pale-blue);
  font-size: 1rem;
  border-radius: 0.625rem;
  padding: 1.25rem;
  margin: 0rem 3.125rem 1.875rem 3.125rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  align-self: start;
}

.card__icon {
  grid-area: 1 / 1 / 3 / 2;
  place-self: center;
}

.card__plan-heading {
  color: var(--dark-blue);
  font-weight: 800;
  grid-area: 1 / 2 / 2 / 4;
  align-self: center;
  justify-self: start;
}

.card__plan-paragraph {
  font-weight: 500;
  margin: 0;
  grid-area: 2 / 2 / 3 / 4;
  align-self: center;
  justify-self: start;
}

.card__change:link,
.card__change:visited {
  font-size: 0.875rem;
  font-weight: 800;
  grid-area: 1 / 4 / 3 / 5;
  place-self: center;
}

.card__change:hover,
.card__change:active {
  color: var(--bright-blue-hover);
  text-decoration: none;
}

.btn {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.938rem;
  border-radius: 0.625rem;
}

.btn__payment:link,
.btn__payment:visited {
  background-color: var(--bright-blue);
  color: var(--pale-blue);
  font-weight: 700;
  margin: 0rem 3.125rem 1.25rem 3.125rem;
  box-shadow: 0px 14px 15px 0px var(--bright-blue-shadow);
}

.btn__payment:hover,
.btn__payment:active {
  background-color: var(--bright-blue-hover);
}

.btn__order:link,
.btn__order:visited {
  background-color: var(--white);
  color: var(--desaturated-blue); 
  font-weight: 800;
  margin: 0rem 3.125rem 1.875rem 3.125rem;

}

.btn__order:hover,
.btn__order:active {
  color: var(--dark-blue);
}

/**************************/
/* FOOTER */
/**************************/

.attribution {
  font-size: 0.688rem;
  text-align: center;
  position: relative;
  top: 2rem;
}
.attribution a {
  color: var(--mariner);
}
